svg, .prototypes {
  background-color: white;
  display: block;
  margin: auto;
  width: 960px;
  height: 500px;
  border: 1px solid black;
}

.legend {
    display: block;
    margin: auto;
}

.column {
    float: left;
}

.left {
    width: 80%;
}

.right {
    width: 20%;
}

.rect-background {
  fill: white;
}

.axis text,
.label {
  fill: dimgrey;
  font-size: 12px;
}

.captions {
  fill: #7D7D7D;
  font-size: 13.3px;
}


.title {
  font-size: 20px;
}
